##

In [ ]:
# Import pandas create a df from the csv
import pandas as pd

df = pd.read_csv("../data/raw/google_trends_migration.csv")

# Drop the isPartial column
df = df.drop(columns=["isPartial"])

df.head()

In [ ]:
# Convert the date column to datetime and resample it into yearly with mean values
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True) # set date as index
df = df.resample("YE").mean()  

# rename 2010-01-01 to 2010
df.index = df.index.year

# round values 
df = df.round(3)

df.head()

In [24]:
# pivot the df to be like eurostat
df_pivot = df.T
df_pivot.head()

date,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Asyl,0.000,0.000,0.417,0.667,1.250,3.333,2.000,1.083,1.083,1.000,1.000,0.917,1.000,1.000,1.000
Flüchtlinge,0.000,0.500,0.333,1.083,2.417,29.333,23.750,10.167,7.667,4.333,3.583,2.583,6.250,3.583,2.667
Migration,2.083,2.250,2.000,2.000,2.000,2.667,2.500,2.167,2.250,2.000,2.000,2.000,2.167,2.500,3.083
Ausländer,2.000,2.083,2.000,2.000,2.083,2.500,2.083,2.000,2.000,2.083,2.000,2.000,2.000,2.250,3.083
Remigration,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.250

In [25]:
# save the df as csv
df.to_csv("../data/processed/google_trends_migration_yearly.csv")